* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;

}

:root {
  --bg-color:  #fff;
  --main-color:  #e55472;
  --text-color:  #010101;
  --2nd-color: #434343;
  --other-color: #666666;
  --big-font: 5rem;
  --h2-font: 2.3rem;
  --p-font: 1.3rem;

}

body {
  color:  var(--text-color);
  background: var(--bg-color);
  /*prevents horizontal scrolling */
  overflow-x: hidden; 
}

.bg-body-tertiary {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  background: var(--bg-color);
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 10%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 14%;
  transition: all .50s ease;
}

.app-container {
  padding-top: 80px; 
}

.nav {
  color: var(--text-color);
  font-size: 15px;
  font-weight: 500;
  margin: 10px 22px;
  transition: all .50s ease;
}

.nav-text {
  display: flex;
}

.nav:hover {
  color: var(--main-color);
}

.nav-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.ml-auto {
  margin-right: 20px;
}

.home-background {
  background-image: url("./images/background.jpg");
  position: relative;
  width: 100%;
  height: 100vh; 
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.cardHighlight {
  min-height: 100%;
}

.luna  {
  font-family: 'Leckerli One', cursive;
  font-size: var(--big-font);
  color: var(--2nd-color);
  line-height: 1.3;
  margin-bottom: 25px;

}

.text {
  color: var(--other-color);
  font-size: var(--p-font);
  line-height: 33px;
  margin-bottom: 60px;
}

.logo {
  width: 100%;
  height: 50px;
}

.login {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  width: 600px;
  margin: 0 auto; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

.text-center {
  font-family: 'Leckerli One', cursive;
  font-size: 3rem;
  color: var(--2nd-color);
  line-height: 1.3;
  margin-bottom: 25px;
}

.girly-title {
  font-family: 'Dancing Script', cursive;
  color: #ff85a2;
  text-align: center;
  margin-bottom: 20px;
}

.girly-table {
  border: 2px solid #ff85a2;
  border-radius: 10px;
  background-color: #fff8f8;
}

.girly-table th {
  background-color: #ff85a2;
  color: #fff;
}

.girly-form {
  border: 2px solid #ff85a2;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff8f8;
}

.girly-form label {
  font-family: 'Dancing Script', cursive;
  color: #ff85a2;
}

.girly-form input[type='text'],
.girly-form textarea {
  border: 2px solid #ff85a2;
  border-radius: 5px;
  padding: 5px;
}

.girly-form input[type='number'] {
  border: 2px solid #ff85a2;
  border-radius: 5px;
  padding: 5px;
  width: 100px;
}

.girly-form .form-check-label {
  font-family: 'Dancing Script', cursive;
  color: #ff85a2;
  font-weight: 500;
}

.girly-form .btn-primary {
  background-color: #ff85a2;
  border: none;
}

.girly-form .btn-primary:hover {
  background-color: #ff5e7b;
}


.floral-pink {
  color: #ff6b9e;
}

.floral-green {
  color: #48bb78;
}

.floral-background {
  background-color: #f9f6f7;
}
